<h1> List of all movies </h1>

<table border = "1">

<td> ID </td>
<td> Image </td>
<td> Title </td>
<td> Year </td>
<td> Director </td>
<td> </td>

<% @movie_list.each do |a_movie|%>
<tr>

  <td> <%=a_movie.id %> </td>
  <td> <img src="<%= a_movie.image%>"> </td>
  <td> <%= a_movie.title %> </td>
  <td> <%= a_movie.year %> </td>
  <td> <%= Director.where(:id => a_movie.director_id).first.name %>
  <td> <a href = "/movies/<%= a_movie.id%>"> Show details </a> </td>
</tr>
<% end %>

</table>
